<style>
    #prompt{
        display: inline-block;
        border: none;
        border-bottom: 1px solid black;
        width: 500px;
        text-align: left;
    }
    #prompt:focus {
        outline: none;
    }
    #submit {
        display: none;
    }
    p {
        display: inline-block;
    }
    .outer {
        display: flex;
        flex-direction: column;
        align-items: left;
    }
</style>
<div class="outer">
    <h1>Welcome to Michael's ChatGPT page!</h1>

    <form action="/api/v1/prompt/michael" method="POST">
        <p>Insert something to be rewritten in 3rd-grader vocabulary:</p><input type="text" autocomplete="off" name="prompt" id="prompt">
        </p>
        <input type="submit" value="submit" id="submit">
    </form>
    <p id="response"></p>
</div>
<script>
    const promptField = document.getElementById("prompt");
    const response = document.getElementById("response");
    const submit = document.getElementById("submit");

    const handleSubmit = async (e) => {
        e.preventDefault();
        const prompt = promptField.value;
        response.innerHTML = "Loading...";

        const res = await fetch("/api/v1/prompt/michael", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ prompt: `Wewrite this with 3rd-grader vocabulary: ${prompt}.` }),
        });
        if (res.status !== 200) {
            response.innerHTML = JSON.stringify(await res.json());
            return;
        } else {
            response.innerHTML = await res.text();
        }
    }

    submit.addEventListener("click", handleSubmit);

</script>