<h1>
    Team
</h1>
<p>
    <br>James Yu: Did a good chunk of the troubleshooting for getting the app running in the first place. Was responsible for the songwriting route.
    <br>Michael Pyrdol: Wrote the app and each of the pages, cleaned up the code, removed unnecessary things. Was responsible for the simplifcation tool route.
    <br>Xinyi Shang: ...
    <br> Sarah Kaplan: ...
</p>