<h1>
    Team
</h1>
<p>
    James Yu: Did a good chunk of the troubleshooting for getting the app running in the first place.
    <br>Michael Pyrdol: Wrote the app and each of the pages, cleaned up the code, removed unnecessary things.
    <br>Sarah Kaplan: ...
    <br>Xinyi Shang: ...
</p>